{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <html lang="en">
        <head>
          <title>IntelliStudy</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
          <link rel="stylesheet" type="text/css" href="{% static 'epsilon/assets/css/bootstrap.css' %}">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript">
 $(document).ready(function(){
  $(".increaseFont,.decreaseFont").click(function(){
  var type=  $(this).val();
   var curFontSize = $('.data').css('font-size');
   if(type=='+A'){
    $('.data').css('font-size', parseInt(curFontSize)+1);
    }
   else{
    $('.data').css('font-size', parseInt(curFontSize)-1);
   }});


 });
 </script>
        </head>
        <body>
<!--            NAV BAR-->
<div class="data">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
  <a class="navbar-brand" href="#">intellistudy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
      <img src="{% static 'epsilon/assets/img/logo_2.png' %}" height=40px />
      
    <ul class="nav justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>


        <input type="button" value="+A" class="increaseFont">
        <input type="button" value="-A" class="decreaseFont">
   
<!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
-->
  </div>
  </div>
</nav>

        <div class="jumbotron-fluid" style="height:70vh; background-color: #f7f7f9; background-image: url({% static 'epsilon/assets/img/poor.png' %});color:white;background-position: right center;">
        <div class="container" style="text-align: center;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color:white">
        <h1 style="color:white;"><img src="{% static 'epsilon/assets/img/index/mainnamewhite.png' %}" height=138px /></h1>
        <p class="lead">A Powerful E-learning platform.</p>
        <hr style=" border: 0.5px solid #fff;"><br><br><br><br><br><br>
        <p>Login to get started.</p>
        <p class="lead">
            <a class="btn btn-primary" href="/epsilon/student" role="button">Student</a>
            <a class="btn btn-secondary" href="/epsilon/mentor" role="button">Mentor</a>
        </p>
        </div>
        </div>
    <div class="container-fluid" style="background-image: url({% static 'epsilon/assets/img/dpt_bg.jpg' %});"><div class="container"><img src="{% static 'epsilon/assets/img/minister.png' %}" width="200"></div></div>

        <div class="row" id="features"><div class="col-lg-7 offset-lg-1">

        <div class="container-fluid" style="height:40%;">
        <div class="container" style="height:13%"></div>
            <div class="card">
                <div class="row">
                <div class="col-4"><img src="{% static 'epsilon/assets/img/index/grad.jpg' %}" width="200"></div>
                <div class="col-8">
                    <div class="container" style="height:10%"></div>
                    <p>The objective is to use artificial intelligence to make the educational experience easier, better and more effective. A system that takes care of the needs of different students differently through the application of greater levels of individualized learning. In regular classroom learning, students differ in terms of their learning abilities and thus a common teaching source can’t ensure proper learning of every student. Our system trains according to the abilities of different students differently and thus provides a custom and personal learning experience.
</p>
                </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="height:40%;">
            <div class="card" style="height:50%;">
                <div class="row">
                <div class="col-7 offset-lg-1">
                    <div class="container" style="height:10%"></div>
                    <p>This platform provided to the students promotes learning together, in one’s own time zone and pace. This kind of custom-tailored education helps reduce pressure on the student as well as improves performance. The interaction between peers while learning builds up confidence as well as makes learning a fun process.</p>
                </div>
                <div class="col-4"><img src="{% static 'epsilon/assets/img/index/bulb.jpg' %}" width="190"></div>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="height:40%;">
            <div class="card" style="height:70%;">
                <div class="row">
                <div class="col-4"><img src="{% static 'epsilon/assets/img/index/focus.jpg' %}" width="190"></div>
                <div class="col-8">
                    <div class="container" style="height:10%"></div>
                    <p>It helps the student know the career path as that is one thing most of the students are always confused about. From what to study to how to study to interactive group chats, quizzes and assignments, it takes care of all the needs of the student such as recommended courses, progress rate, etc. The group chat is a medium for like minded people to share their thoughts and help each other out, to create a healthy atmosphere as well as motivate the student. The student can connect with the mentors of the courses as well for any queries. This will enable the student to be more open, interactive and grow along with others thereby improving the quality of education in the nation. Its not just the intellect that adds on but also improves the student's interactive skills. </p>
                </div>
                </div>
            </div>
        </div>

        </div>
            <div class="col-lg-3">
                <div class="container" style="height:5%;"></div>
                <div class="card">
                    <div class="card-header"> <span class="glyphicon glyphicon-list-alt"></span><b>Announcement</b></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xs-12" style="overflow:hidden">
                                <ul class="demo2" style="overflow: scroll; height: 280px;">
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></li>
                                    <li style="" class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></li>
                                    <li style="" class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></li>
                                    <li style="" class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></li>
                                    <li style="overflow: hidden; height: 59.2754px; padding-top: 3.43625px; margin-top: 0px; padding-bottom: 3.43625px; margin-bottom: 0px;" class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></li>
                                    <li style="display: none;" class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></li>
                                    <li style="display: none;" class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer"> </div>
                </div>
                
            
            </div>
            
            
            </div>

        <br>
            <div class="btm_logoWrap">
    <div class="container">
      <div class="btm_logo"> <div class="region region-footer-logo">
  <div id="block-block-137" class="block block-block" role="contentinfo">

      
  <div class="row">
        <div class="container">
		<a href="https://india.gov.in/" target="_blank" title="india.gov.in"><img alt="india.gov.in" height="51" src="{% static 'epsilon/assets/img/india_gov_logo.png' %}" width="137"></a>
		<a href="http://mygov.in/" target="_blank" title="MyGov.in"><img alt="MyGov.in" height="51" src="{% static 'epsilon/assets/img/my_gov_logo.png' %}" width="61"></a>
		<a href="http://evisitors.nic.in/public/Home.aspx" target="_blank" title="MyVisit"><img alt="MyVisit" height="51" src="{% static 'epsilon/assets/img/my_visit.png' %}" width="98"></a>
		<a href="http://digitalindia.gov.in/" target="_blank" title="Digital India"><img alt="Digital India" height="51" src="{% static 'epsilon/assets/img/digital_india.png' %}" width="78"></a>
		<a href="rti_he" title="Right to Information"><img alt="Right to Information" height="51" src="{% static 'epsilon/assets/img/rti_logo.png' %}" width="78"></a>
		<a href="https://data.gov.in/" target="_blank" title="data.gov.in"><img alt="data.gov.in" height="51" src="{% static 'epsilon/assets/img/datagov_logo.png' %}" width="110"></a>
		<a href="http://www.nvsp.in/" target="_blank" title="Online Services for Voters"><img alt="Online Services for Voters" height="51" src="{% static 'epsilon/assets/img/onlineservice_logo.png' %}" width="113"></a>
		<a href="http://dial.gov.in/" target="_blank" title="Dial.gov"><img alt="Dial.gov" height="51" src="{% static 'epsilon/assets/img/dialgov-logo.png' %}" width="64"></a>
		<a href="http://ssashagun.nic.in/" target="_blank" title="ssa.gov"><img alt="ssa" height="51" src="{% static 'epsilon/assets/img/ssa_schm.jpg' %}" width="112"></a>
		<a href="http://mdm.nic.in/" target="_blank" title="Mid Day Meal"><img alt="Mid Day Meal" height="51" src="{% static 'epsilon/assets/img/mdm_schm.jpg' %}" width="112"></a>
        <a href="http://103.7.128.243:8085/swachhvidhyalaya/" target="_blank" title="MHRD"><img src="{% static 'epsilon/assets/img/swachh-vidyalay.png' %}" alt="" class="img-responsive"></a>
  </div>
  </div>
  
</div> <!-- /.block -->
</div>
 <!-- /.region -->
 </div>
    </div>
  </div>
            <div class="container">
            <div class="row">
            <div class="col-lg-12"><hr style=" border: 0.5px solid #3d3d3d;">
            <ul class="list-unstyled">
              <li class="float-lg-right"><a href="#top">Back to top</a></li>
              <li><a href="/epsilon/about">About</a></li>
              <li><a href="https://github.com/gautamyadavs/IntelliStudy">Source | GitHub</a></li>
              <li><a href="/epsilon/admin">Admin</a></li>
            </ul>
            <center><p>Made with <img src="{% static 'epsilon/assets/img/index/heart.png' %}" width=18px /> by <a href="/epsilon/about">Team Epsilon</a>.</p></center>
            </div>
            </div>

        </div>
        </div>


        </body>
</html>
